* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-header {
  font-size: 140%;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  color: rgb(212, 208, 188);
  background-color: #2f54e6;
  background-image: linear-gradient(
    180deg,
    #0a2ec0 0%,
    #3b4cca 50%,
    #cc0000 100%
  );
}

.game-screen {
  background-size: 100%;
  height: 100%;
}

.avatar {
  height: 10%;
  width: 10%;
}

.memory-game {
  padding-top: 0;
  width: 99.6%;
  /* height: 88%; */
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  /* height: 10%; */
  padding-bottom: 0;
  margin: 0;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  /* transform: scale(1); */
  /* transform-style: preserve-3d; */
  transition: transform 0.5s;
  cursor: pointer;
}
.memory-card:active {
  /* transform: scale(0.97); */
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid cornsilk;
  position: absolute;
  background: #1c7ccc;
  backface-visibility: hidden;
  /* transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); */
}
.front {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid cornsilk;
  position: absolute;
  background: #1c7ccc;
  /* transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); */
}

.reset-button {
  height: 5%;
  display: inline;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  font-size: 40%;
  background-image: linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  background-image: -webkit-linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px;
}

.reset-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.exit-button {
  height: 5%;
  display: inline;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  font-size: 40%;
  background-image: linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  background-image: -webkit-linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px;
}

.exit-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

span {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 800px) {
  .game-header {
    font-size: 100%;
  }
  .exit-button {
    font-size: 30%;
    margin: 10px;
    padding: 10px;
  }
  .reset-button {
    font-size: 30%;
    margin: 10px;
    padding: 10px;
  }
  .back-button {
    font-size: 30%;
    margin: 10px;
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .game-header {
    font-size: 90%;
  }
  .exit-button {
    font-size: 20%;
  }
  .reset-button {
    font-size: 20%;
  }
  .back-button {
    font-size: 20%;
  }
}
