body {
  width: 100%;
  height: 100%;
  margin: auto;
  /* background-color: lightgray; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-size: 100%; */
  font-family: "Nerko One", cursive;
  font-size: 40px;
  background-image: url(pikachu-and-caterpie-02.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-screen {
  width: 100%;
  height: 100%;
  margin: auto;
  /* background-image: url(comicbackground.jpg); */
  background-size: 100%;
  font-family: "Nerko One", cursive;
  font-size: 40px;
}

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  /* font-size: 100%; */
  color: rgb(212, 208, 188);
  /* background-color: crimson; */
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 60px;
  font-size: 200%;
  background-color: #2f54e6;
  background-image: linear-gradient(
    180deg,
    #5a77e7 0%,
    #3151d1 50%,
    #ff0000 100%
  );
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 30px 30px;
  padding: 45px;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  /* height: 70%;
  width: 70%; */
  /* background: linear-gradient(#e66465, #9198e5);
  background: -webkit-linear-gradient(#e66465, #9198e5);
  background: -moz-linear-gradient(#e66465, #9198e5); */
}
.navBar {
  height: 120px;
  width: 20%;
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );

  background-image: -webkit-linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
  font-family: "Nerko One", cursive;
  box-shadow: 2px 2px 7px 2px;
  margin: 30px;
  transition: 0.5s;
  background-size: 200% auto;
}

.navBar:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

span.emoji {
  font-size: 30px;
  vertical-align: middle;
  /* line-height: 2; */
}

/* .btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 

/* .navBar {
  height: 70px;
  width: auto;
  background-color: rgb(29, 121, 121);
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 20px;
} */
/* .button {
  position: absolute;
  border: none;
  height: 50px;
  width: 50px;
  top: 15px;
  left: 20px;
  margin: 0 auto;
  background-color: rgb(29, 121, 121);
} */
/* .button--middle {
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: lightcoral;
  margin: 0 auto;
}

.button--middle::before,
.button--middle::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: lightcoral;
  transition: all 200ms ease-in-out;
}

.button--middle::before {
  top: -10px;
}

.button--middle::after {
  top: 10px;
} */

/* .button--middle:hover:before {
    box-shadow: 0 0 0 #fff;
    transform: translateY(10px) rotate(45deg);
  }
  .button--middle:hover:after {
    transform: translateY(-10px) rotate(-45deg);
  }
  .dropdown-content {
    display: hidden;
    top: 75px;
  } */

.dropdown-content li {
  float: left;
  width: auto;
  text-decoration: none;
  color: white;
  padding: 12px 12px;
  display: block;
  border-radius: 0;
  text-align: left;
  transform: scale(1);
  transition: transform ease-out 0.5s;
}
/* .dropdown-content :hover {
    background-color: grey;
    width: auto;
  } */

.dropdown-content {
  display: block;
  position: fixed;
  width: 275px;
  font-size: 20px;
  background-color: rgb(29, 121, 121);
  top: 78px;
  left: 8px;
  /* padding-bottom: 20px */
}

.dropdown-content li:hover {
  transform: scale(1.2);
}

.dropdown-content,
.ul {
  animation: delaySlide 0.35s ease-in-out;
}

@keyframes delaySlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

/* .ul.userList li {
    transform: translateY(0px);
  } */

/* .welcome {
  background-image: url(comicbackground.jpg);
} */
